{% extends "base.html" %}

{% block main %}
<main>
  <h1>test chat room</h1>

<!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
</script> -->

</main>
{% endblock %}

{% block script %}

{% endblock %}
